/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}



nav {
    background: #E0FFFF;
}

.col-1-3 {
  width: 33.33%;
  border: 3px;
  border-color: blue;
}


.errors {
  color: #ff0000;
  margin: 1em 0 2em 0;
}

.fancy-text {
  font-family: 'Roboto', cursive;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.no-bullets {
  list-style-type: none;
}

.list {
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.mar-t-2 {
  margin-top: 2em;
}

.mar-t-3 {
  margin-top: 3em;
}

.pad-s-2 {
  padding-left: 2em;
}
.pad {
  padding-top: 2em;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 2em;
}
.pipe-separate {
  padding-left: 1em;
  padding-right: 1em;
  border-right: 1px solid;
}

.pipe-separate:first-of-type {
  padding-left: 0;
}
