<div class="container">
<h3> Welcome <%= @user.username %> !  <img src="<%= @user.avatar %>"/></h3>

  <div class ="posts">
    <h4> Your Posts </h4>
<div class="col 12 m2">
  <div class="card horizontal">
    <div class="card-image">
      <img src="/img/lezbro.jpg" width="100px">
        <span class="card-title">Lezbro-in-Chief</span>
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <h3>Lezbro-in-Chief</h3>
        <ul>
          <li><h5>2009 Military - Repeal Don't ask, don't tell</h5></li>
          <li><h5>2009 Hate Crimes</h5>- Obama signed the Matthew Shepard and James Byrd, Jr. Hate Crimes Prevention Act, which added gender, sexual orientation, gender identity, and disability to the federal hate crimes law</li>
          <li><h5>2014 LGBT and anti-discrimination laws</h5>
Obama has said that he would sign into law the Employment Non-Discrimination Act which if passed would prohibit discrimination in hiring and employment on the basis of sexual orientation or gender identity.</li>
  <li><h5>2014 LGBT adoption</h5>
Obama has said that he supports same sex couples adopting children. Obama extended the Family and Medical Leave Act of 1993 to cover employees taking unpaid leave to care for the children of same-sex partners</li>
<li>
  <ul><h5>Openly-LGBT appointees</h5>
  <li>2009 Sharon Lubinski</li>
  <li>2010 Amanda Simpson</li>
  <li>2014 Monique Dorsainvil</li>
  <li>2014 Megan Smith - Chief Technology Officer (CTO)</li>
  </ul>
</li>
        <li><h5>2015 Marriage Equality</h5></li>
        <li><h5>2016 Conversion Therapy still legal</h5></li>
        </ul>
      </div>
      <div class="card-action">
        <a href="https://www.whitehouse.gov/the-press-office/2016/06/09/fact-sheet-obama-administrations-record-and-lgbt-community">Obama Administration’s Record and the LGBT Community</a>
      </div>
    </div>
  </div>
</div>



  </div>
</div>
