<!-- <div class="carousel">
  <a class="carousel-item" href="#one!"><img src="http://lorempixel.com/250/250/nature/1"></a>
  <a class="carousel-item" href="#two!"><img src="http://lorempixel.com/250/250/nature/2"></a>
  <a class="carousel-item" href="#three!"><img src="http://lorempixel.com/250/250/nature/3"></a>
  <a class="carousel-item" href="#four!"><img src="http://lorempixel.com/250/250/nature/4"></a>
  <a class="carousel-item" href="#five!"><img src="http://lorempixel.com/250/250/nature/5"></a>
</div> -->
<div class="carousel carousel-slider center" data-indicators="true">
  <div class="carousel-fixed-item center">
    <a class="btn waves-effect white grey-text darken-text-2">Navigate</a>
  </div>
  <div class="carousel-item purple lighten-3 white-text" href="/users">
    <h2>News</h2>
    <p class="white-text"><h3>Planning to have women in the news feeds </h3><h4>from Reddit API and NY - Times API - trending ?Tweeter</h4></p>
  </div>
  <div class="carousel-item pink lighten-3 white-text" href="#two!">
    <h2>Herstory</h2>
    <p class="white-text">Basic </p>
  </div>
  <div class="carousel-item teal lighten-3 white-text" href="#three!">
    <h2>Third Panel</h2>
    <p class="white-text">This is your third panel</p>
  </div>
  <div class="carousel-item  blue lighten-3 white-text" href="#four!">
    <h2>Fourth Panel</h2>
    <p class="white-text">This is your fourth panel</p>
  </div>
</div>

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <h1 class="header center light-blue-text">HER.story</h1>
      <div class="row center">
        <h5 class="header col s12 light">Passion Project 2016</h5>
        <p>Herstory is 'history' written from a woman's perspective, emphasizing the female role, or told from a woman's point of view. It is a neologism coined as a pun with the word 'history', as part of a feminist critique: traditionally written as 'his story', i.e., from the masculine point of view. History is shaped by the victors, by the ones that possess power and privilege. The word "history" — from the Ancient Greek <b>ἱστορία</b>, or historia, meaning "knowledge obtained by inquiry" — is etymologically unrelated to the possessive pronoun his.</p>
      </div>
      <div class="row center">
        <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light light-blue">Welcome</a>
      </div>

    </div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Reddit</h5>

            <p class="light">....</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">face</i></h2>
            <h5 class="center">Connect</h5>

            <p class="light">...</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">cloud</i></h2>
            <h5 class="center">Knowledge</h5>

            <p class="light">...</p>
          </div>
        </div>
      </div>

    </div>
    <br><br>

    <div class="section">
        <!-- <i class="mdi mdi-facebook-box"></i>
        <header class="article-header"><h1>
        <span class="icon-book-open"></span>Learning</h1> -->
    </div>
  </div>
